svg {
    z-index: 1;
}

.path-0 {
    z-index: 1;
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,500 C 0,500 0,166 0,166 C 69.20574162679426,167.37799043062202 138.41148325358853,168.75598086124404 243,173 C 347.58851674641147,177.24401913875596 487.5598086124402,184.35406698564594 589,176 C 690.4401913875598,167.64593301435406 753.3492822966506,143.82775119617224 844,129 C 934.6507177033494,114.17224880382776 1053.043062200957,108.33492822966507 1157,116 C 1260.956937799043,123.66507177033493 1350.4784688995214,144.83253588516746 1440,166 C 1440,166 1440,500 1440,500 Z");
    }

    25% {
        d: path("M 0,500 C 0,500 0,166 0,166 C 83.07177033492826,179.33014354066984 166.14354066985652,192.6602870813397 273,184 C 379.8564593301435,175.3397129186603 510.4976076555023,144.68899521531102 613,136 C 715.5023923444977,127.31100478468899 789.8660287081341,140.58373205741626 880,155 C 970.1339712918659,169.41626794258374 1076.0382775119617,184.97607655502392 1172,187 C 1267.9617224880383,189.02392344497608 1353.9808612440193,177.51196172248802 1440,166 C 1440,166 1440,500 1440,500 Z");
    }

    50% {
        d: path("M 0,500 C 0,500 0,166 0,166 C 116.62200956937801,165.04306220095694 233.24401913875602,164.08612440191388 317,174 C 400.755980861244,183.91387559808612 451.645933014354,204.69856459330146 531,209 C 610.354066985646,213.30143540669854 718.1722488038278,201.11961722488036 837,185 C 955.8277511961722,168.88038277511964 1085.665071770335,148.82296650717703 1188,145 C 1290.334928229665,141.17703349282297 1365.1674641148325,153.58851674641147 1440,166 C 1440,166 1440,500 1440,500 Z");
    }

    75% {
        d: path("M 0,500 C 0,500 0,166 0,166 C 86.72727272727272,157.11004784688996 173.45454545454544,148.2200956937799 274,147 C 374.54545454545456,145.7799043062201 488.9090909090909,152.2296650717703 571,168 C 653.0909090909091,183.7703349282297 702.909090909091,208.86124401913878 812,212 C 921.090909090909,215.13875598086122 1089.4545454545453,196.32535885167465 1204,185 C 1318.5454545454547,173.67464114832535 1379.2727272727275,169.83732057416267 1440,166 C 1440,166 1440,500 1440,500 Z");
    }

    100% {
        d: path("M 0,500 C 0,500 0,166 0,166 C 69.20574162679426,167.37799043062202 138.41148325358853,168.75598086124404 243,173 C 347.58851674641147,177.24401913875596 487.5598086124402,184.35406698564594 589,176 C 690.4401913875598,167.64593301435406 753.3492822966506,143.82775119617224 844,129 C 934.6507177033494,114.17224880382776 1053.043062200957,108.33492822966507 1157,116 C 1260.956937799043,123.66507177033493 1350.4784688995214,144.83253588516746 1440,166 C 1440,166 1440,500 1440,500 Z");
    }
}

.path-1 {
    z-index: 1;
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,500 C 0,500 0,333 0,333 C 118.6602870813397,360.6555023923445 237.3205741626794,388.311004784689 325,389 C 412.6794258373206,389.688995215311 469.37799043062194,363.41148325358853 568,354 C 666.6220095693781,344.58851674641147 807.1674641148323,352.0430622009569 906,359 C 1004.8325358851677,365.9569377990431 1061.952153110048,372.4162679425838 1144,368 C 1226.047846889952,363.5837320574162 1333.023923444976,348.2918660287081 1440,333 C 1440,333 1440,500 1440,500 Z");
    }

    25% {
        d: path("M 0,500 C 0,500 0,333 0,333 C 105.38755980861242,351.0956937799043 210.77511961722485,369.19138755980856 300,378 C 389.22488038277515,386.80861244019144 462.2870813397129,386.3301435406699 557,355 C 651.7129186602871,323.6698564593301 768.0765550239236,261.4880382775119 858,273 C 947.9234449760764,284.5119617224881 1011.4066985645934,369.7177033492823 1104,392 C 1196.5933014354066,414.2822966507177 1318.2966507177034,373.6411483253588 1440,333 C 1440,333 1440,500 1440,500 Z");
    }

    50% {
        d: path("M 0,500 C 0,500 0,333 0,333 C 79.88516746411483,331.39234449760767 159.77033492822966,329.78468899521533 260,318 C 360.22966507177034,306.21531100478467 480.8038277511962,284.2535885167464 584,280 C 687.1961722488038,275.7464114832536 773.0143540669856,289.2009569377991 876,301 C 978.9856459330144,312.7990430622009 1099.1387559808613,322.9425837320574 1196,328 C 1292.8612440191387,333.0574162679426 1366.4306220095693,333.0287081339713 1440,333 C 1440,333 1440,500 1440,500 Z");
    }

    75% {
        d: path("M 0,500 C 0,500 0,333 0,333 C 114.86124401913872,320.0430622009569 229.72248803827745,307.0861244019139 325,304 C 420.27751196172255,300.9138755980861 495.97129186602876,307.69856459330146 573,327 C 650.0287081339712,346.30143540669854 728.3923444976076,378.1196172248804 833,388 C 937.6076555023924,397.8803827751196 1068.4593301435407,385.82296650717706 1174,373 C 1279.5406698564593,360.17703349282294 1359.7703349282297,346.58851674641147 1440,333 C 1440,333 1440,500 1440,500 Z");
    }

    100% {
        d: path("M 0,500 C 0,500 0,333 0,333 C 118.6602870813397,360.6555023923445 237.3205741626794,388.311004784689 325,389 C 412.6794258373206,389.688995215311 469.37799043062194,363.41148325358853 568,354 C 666.6220095693781,344.58851674641147 807.1674641148323,352.0430622009569 906,359 C 1004.8325358851677,365.9569377990431 1061.952153110048,372.4162679425838 1144,368 C 1226.047846889952,363.5837320574162 1333.023923444976,348.2918660287081 1440,333 C 1440,333 1440,500 1440,500 Z");
    }
}